<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.fourth.ondaeng">

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <uses-permission android:name="android.permission.INTERNET" />
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Ondaeng">
        <activity
            android:name=".myPage"
            android:exported="false" />
        <activity
            android:name=".item_viewpager"
            android:exported="false" />
        <activity
            android:name=".activity_drawer"
            android:exported="false" />
        <activity
            android:name=".CommunityActivity"
            android:exported="false" />
        <activity
            android:name=".WalkActivity"
            android:exported="false" />
        <activity android:name=".CareActivity"
            android:exported="false"/>
        <activity
            android:name=".SplashActivity"
            android:exported="true"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:exported="true" />

        <meta-data
            android:name="com.naver.maps.map.CLIENT_ID"
            android:value="an0uh3krxd" />
    </application>

</manifest>